@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: auto;
  color: #313083;
  background: linear-gradient(
    to bottom,
    #e9deff 0,
    #d5eafd 1200px,
    #fbf4f4 2400px,
    #f6deec 4000px,
    #e9deff 6000px,
    #d5eafd 8000px,
    #fbf4f4 10000px
  );
}
